<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/dashboard.css">
    <title>EJS Is Fun</title>
  </head>

  <body>
    <h1>Welcome to the config !</h1>
  </body>
</html>