<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://127.0.0.1:3333/stylesheets/global.css">
    <link rel="stylesheet" href="http://127.0.0.1:3333/stylesheets/dashboard.css">
    <title>EJS Is Fun</title>
  </head>

  <body>
    <div class="main">
      <h1>Welcome to the config !</h1>
    </div>
  </body>
</html>