<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://127.0.0.1:3333/stylesheets/global.css">
    <link rel="stylesheet" href="http://127.0.0.1:3333/stylesheets/login.css">
    <title>EJS Is Fun</title>
  </head>

  <body>
    <div class="main">
      <div class="login_container">
        <h1 class="login_header">Login</h1>
        <div class="login_input_container">
          <% if(config.login_username) { %>
          <label class="login_label">Username</label>
          <input type="text" class="login_input">
          <% } %>
          <label class="login_label">Password</label>
          <input type="password" class="login_input">
        </div>
        <button class="login_button">Continue</button>
      </div>
    </div>
  </body>
</html>

<%- include('../css.ejs'); %>