<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://127.0.0.1:3333/stylesheets/global.css">
    <link rel="stylesheet" href="http://127.0.0.1:3333/stylesheets/login.css">
    <title>EJS Is Fun</title>
  </head>

  <body>
    <div class="main">
      <div class="login_container">
        <h1 class="login_header">Login</h1>
        <input type="text" class="login_input">
        <input type="password" class="login_input">
        <button class="login_button">Continue</button>
      </div>
    </div>
  </body>
</html>

<style>

  :root {
    --darker: #1c102c;
    --dark-soft: #472f6a43;
    --dark: #3a215c;
    --normal: #60339f;
    --normaler: #8044d5;
    --light: #a186c2;
    --lighter: #cec7db;
  }

</style>
