.main {
  padding: 5vh 0;
  width: 85%;
  max-height: 90vh;
  position: relative;
  height: 90vh;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.login_container {
  height: 50vh;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.login_header {
  color: var(--normaler);
  font-size: 2.7em;
}

.login_label {
  color: var(--white);
}

.login_input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 35%;
}

.login_input {
  width: 80%;
  position: relative;
  padding: 5px 6px;
  margin: 0.5vh 0 1vh;
  border-radius: 0.7vh;
  border: 0;
  font-size: 1.1em;
  outline: 0;
  background-color: var(--lighter-soft);
}

.login_button {
  min-width: 25%;
  position: relative;
  padding: 10px 1em;
  margin: 1vh 0;
  border-radius: 1.2vh;
  border: 0;
  font-size: 1em;
  transition: 0.3s;
}

.login_button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--lighter);
}

.login_button:active {
  background-color: var(--light);
}

.login_fail_container {
  display: block;
  padding: 0 5%;
  border-radius: 10px;
  background-color: #ae262a6b;
}

.login_fail_head {
  margin: 2vh auto 0.6vh;
}

.login_fail_text {
  margin: 0 auto 1vh;
}